<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Estudiantes</title>
    <h1>Libros Disponibles</h1>
    <div id="app">
        
        <form action="/prestar" method="post">
            <div id="admin-container">

                <label for="codigo">Código:</label>
                <input type="text" name="cod" id="codigo" placeholder="Ingrese el código del libro"><br><br>
                <label for="codigo">Fecha del prestamo:</label>
                <input type="date" name="fechaE" id="fechaE" ><br><br>
                <input type="submit" value="Prestar Libro"> <input type="submit" value="Cancelar"><br><br><br><br>


            </div>
        </form>
    </div>
    

</head>
<body>
   
   


    
</body>
</html>